<!-- 
	Interface for cash register (NSC Janus)
	See: code/modules/economy/cash_register.dm
-->

{{if data.hasshop == 0}}
	<div class="notice" style="height: 22px">
		<span class='bad'>Needs to be linked to a shop area.</span>
	</div>
{{/if}}
{{if data.hasaccount == 0}}
	<div class="notice" style="height: 22px">
		<span class='bad'>Account not linked to cash register.</span>
	</div>
{{/if}}
<center><h3>{{:data.text}}</h3></center>
{{if data.mode == 1}} <!-- General screen -->
<div class='item'>
	{{if data.hasshop == 1}}
	{{:helper.link('Inventory', null, { 'option' : 'togglePricesList' }, data.hasshop ? null : 'disabled')}}
	{{:helper.link('Check-out', null, { 'option' : 'toggleScannedList' }, data.hasshop ? null : 'disabled')}}
	{{/if}}
	{{:helper.link('Access cash drawer', null, { 'option' : 'toggleCash' })}}
	{{:helper.link('View transactions', null, { 'option' : 'toggleTransactions' }, data.hasshop ? null : 'disabled')}}
</div>
{{else data.mode == 2}} <!-- Inventory screen -->
<div class='item'>
	<table style="width:100%">
	{{for data.products}}
		<tr class="candystripe">
		<td>{{:index}}
		<td>{{:value.name}}
		<td>T{{:value.price}}
		{{:helper.link('Remove', null, { 'removeFromPrices' : value.item })}}
	{{empty}}
		<tr class="candystripe">
		<td>No objects with prices.
	{{/for}}
	</table>
</div>
{{else data.mode == 3}} <!-- Check-out screen -->
<div class='item'>
	<table style="width:100%">
	{{for data.products}}
		<tr class="candystripe">
		<td>{{:value.name}} 
		<td>T{{:value.price}}
		{{:helper.link('Remove', null, { 'removeFromTransaction' : value.item })}}
	{{empty}}
		<tr class="candystripe">
		<td>Nothing scanned.
	{{/for}}
	</table>
	<div class='item'>
		{{:helper.link('Print receipt', null, { 'option' : 'printReceipt' })}}
		{{:helper.link('Objects paid', null, { 'option' : 'objectsPaid' }, data.has_products > 0 ? null : 'disabled')}}
		{{:helper.link('Access cash drawer', null, { 'option' : 'toggleCash' })}}
		{{:helper.link('Delete all', null, { 'option' : 'deleteCheckOut' })}}
	</div>
</div>
{{else data.mode == 4}} <!-- Settings screen -->
<div class='item'>
	{{if data.hasshop == 0}}
		{{:helper.link('Clear all inventory', null, { 'option' : 'clearInventoryQuestion' })}}
	{{/if}}
	{{:helper.link('Set account', null, { 'option' : 'setAccount' })}}
	{{:helper.link('Link POS', null, { 'option' : 'setPOS' })}}
	{{:helper.link('Set tags', null, { 'option' : 'setTags' }, 'disabled')}}
</div>
{{else data.mode == 5}} <!-- Clear inventory confirmation -->
<div class='item'>
	<h3>Are you sure? This will remove all scanned items in this shop.</h3>
	{{:helper.link('Confirm', null, { 'option' : 'clearInventoryConfirm' })}}
	{{:helper.link('Cancel', null, { 'option' : 'toggleSettings' })}}
</div>
{{else data.mode == 6}} <!-- Cash screen -->
	<div class='item'>
	{{for data.thalers}}
		{{:helper.link('T' + value.worth + ' (' + value.amount + ')', null, { 'takeCash' : value.worth}, value.amount > 0 ? null : 'disabled')}}
	{{/for}}
	</div>
{{else data.mode == 7}} <!-- Transactions screen -->
<div class='item'>
</div>
	<div class='item'>
	{{for data.transactions}}
		{{:helper.link('[' + value.name + ']', null, { 'viewTransaction' : value.id})}}
	{{/for}}
	</div>
{{else data.mode == 8}} <!-- View transaction screen -->
<div class='item'>
</div>
	<div class='item'>
	{{for data.items}}
		<div style="float: left">{{:value.name}}</div><div style="float: right">T{{:value.price}}</div>
	{{/for}}
	</div>
	<br>
	<div class='item'><div style="float: right">SUBTOTAL: T{{:data.subtotal}}</div></div>
	<div class='item'><div style="float: right">TAX: {{:data.tax}}%</div></div>
	<div class='item'><div style="float: right">TOTAL: T{{:data.total}}</div></div>
	{{:helper.link('Print', null, { 'printTransaction' : data.transaction})}}
{{/if}}
{{:helper.link('Create area (test)', null, { 'option' : 'test'})}}