<!-- 
	Interface for cash register (NSC Janus)
	See: code/modules/economy/cash_register.dm
-->

<h2>{{:data.title}}</h2>
<center><h3>{{:data.text}}</h3></center>
{{:helper.link('Shutdown', 'power', { 'option' : 'shutdown' })}}
{{if data.hasscanner == 1}}
{{:helper.link('Take scanner', null, { 'option' : 'takescanner' })}}
{{/if}}
{{if data.mode != 4}}
{{:helper.link('Settings', null, { 'option' : 'toggleSettings' })}}
{{/if}}
{{if data.mode == 1}} <!-- General screen -->
<div class='item'>
	{{if data.hasshop == 0}}
	<h2>Cash register needs to be linked a shop institution.</h2>
	{{else}}
	{{:helper.link('Prices', null, { 'option' : 'togglePricesList' })}}
	{{:helper.link('Scanned items', null, { 'option' : 'toggleScannedList' })}}
	{{/if}}
</div>
{{else data.mode == 2}} <!-- Items with prices list screen -->
<div class='item'>
	{{:helper.link('Go back', null, { 'option' : 'toggleCashRegister' })}}
	<table style="width:100%">
	{{for data.products}}
		<tr class="candystripe">
		<td>{{:index}}
		<td>{{:value.name}}
		<td>T{{:value.price}}
		{{:helper.link('Remove', null, { 'removeFromPrices' : value.item })}}
	{{empty}}
		<tr class="candystripe">
		<td>No objects with prices.
	{{/for}}
	</table>
</div>
{{else data.mode == 3}} <!-- Items scanned list screen -->
<div class='item'>
	{{:helper.link('Go back', null, { 'option' : 'toggleCashRegister' })}}
	<table style="width:100%">
	{{for data.products}}
		<tr class="candystripe">
		<td>{{:value.name}} 
		<td>T{{:value.price}}
		{{:helper.link('Remove', null, { 'removeFromTransaction' : value.item })}}
	{{empty}}
		<tr class="candystripe">
		<td>Nothing scanned.
	{{/for}}
	</table>
	<div class='item'>
		{{:helper.link('Print receipt', null, { 'option' : 'printReceipt' })}}
		{{:helper.link('Objects paid', null, { 'option' : 'objectsPaid' })}}
	</div>
</div>
{{else data.mode == 4}} <!-- Settings screen -->
<div class='item'>
	{{:helper.link('Clean inventory', null, { 'option' : 'cleanInventoryQuestion' })}}
	{{:helper.link('Set account', null, { 'option' : 'setAccount' })}}
</div>
{{else data.mode == 5}} <!-- Settings screen -->
<div class='item'>
	<h3>Are you sure? This will remove all scanned items in this shop.</h3>
	{{:helper.link('Confirm', null, { 'option' : 'cleanInventoryConfirm' })}}
	{{:helper.link('Cancel', null, { 'option' : 'toggleSettings' })}}
</div>
{{else data.mode == 6}} <!-- Cash screen -->
{{for data.thalers}}
<div class='item'>
{{:helper.link(value.value + 'T', null, { 'takeCash' : value.value}, value.amount > 0 ? null : 'disabled')}}
</div>
{{/if}}
{{if data.hasaccount == 0}}
<h2>Account not linked to the cash register.</h2>
{{/if}}