<!-- 
	Interface for keypad (NSC Janus)
	See: code/game/objects/items/weapons/Airlock_Keypad.dm
-->

<div class='item'>{{:data.show_code}}</div>
<div class='item'>
{{:helper.link('1', null, { 'button' : '1' })}}
{{:helper.link('2', null, { 'button' : '2' })}}
{{:helper.link('3', null, { 'button' : '3' })}}
<br>
{{:helper.link('4', null, { 'button' : '4' })}}
{{:helper.link('5', null, { 'button' : '5' })}}
{{:helper.link('6', null, { 'button' : '6' })}}
<br>
{{:helper.link('7', null, { 'button' : '7' })}}
{{:helper.link('8', null, { 'button' : '8' })}}
{{:helper.link('9', null, { 'button' : '9' })}}
<br>
{{:helper.link('R', null, { 'button' : 'R' })}}
{{:helper.link('0', null, { 'button' : '0' })}}
{{:helper.link('E', null, { 'button' : 'E' })}}
</div>